<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myAspect" class="com.wxx.aop.springproxy.MyAspect"/>
    
    <bean id="userServiceId" class="com.wxx.aop.springproxy.UserServiceImpl"/>
    
    <bean id="userService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--写了接口，会尝试使用jdk动态代理去生成代理类-->
        <!--<property name="interfaces" value="com.wxx.aop.jdkproxy.UserService"/>-->
        <property name="target" ref="userServiceId"/>
        <property name="interceptorNames" value="myAspect"/>
    </bean>
</beans>